html, body {
  background-color: #ADD8E6; 
}

#pagewrap {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 auto;  
  padding: 10px;  
  width: 900px;
}

.rating {
  background: url("./images/misc_57.png") no-repeat;
  height: 26px;
  overflow: hidden;
  text-indent: -1000px;
}
.star-5 { width: 115px; }
.star-4 { width: 92px; }
.star-3 { width: 69px; }
.star-2 { width: 46px; }
.star-1 { width: 23px; }